<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connect 4</title>

        <script>
            var GAMESTATE = ({{ game_state|tojson }});
            var NAME = ({{name|tojson}});
            var COLOR = ({{ players[name]|tojson }});
        </script>
        <link rel="stylesheet" href="/static/connect4.css">
        <script src="/static/connect4.js"></script>
        
    </head>
    <body>
        <h1>Connect 4</h1>
        <ul>
            {% for (name,color) in players.items() %}
                <li> {{ name }}: {{color}}</li>
            {% endfor %}
        </ul>
        <h2 id="winner"></h2>
        <div id="board"></div>
    </body>
</html>